/*CSS file*/
html, body {
    height: 100%; /*For sticking the footer at the bottom of the page*/
}

body {
    background-image: url("../images/backgroundImg.png");
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

#outNav{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 0.07em outset #cccccc;
}

 .navbar, #content {
    position: relative;
    width:960px;
    background-color:#ffffff;
    display:inline-block;
    top: 20%;
    left:20%;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    font-size: 1.5em;
    font-weight: bolder;
    color:#ffffff;
    background:#4aaaa5;
    float: left;
    padding:1.2rem;
}

nav ul{
    float: right;
    padding:1.2em 0;
}

nav li {
    display: inline-block;    
}

#border{
    border-style: solid;
    border-right-color:#f7eded;
    border-left-color:#f7eded;
    border-right-width:1px;
    border-left-width:1px;
    padding:0 20px 0 20px;
}

#rightPadding {
    padding:0 20px 0 0;
}

#leftPadding {
    padding:0 0 0 20px;
}
nav a {
    text-decoration:none;
    color:#777777;
}

hr {
    width: 99%;
    color:#dddddd;
}

p {
    color: #777777;
    line-height:1.5;
}

#content h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #4aaaa5;
    font-size: 1.5em;
}
.container {
    position:relative;
    top:0px;
    left:0px;
    width: 100%;
    padding:1rem 0;
    flex: 1 0 auto; /*For sticking the footer at the bottom of the page*/
}

#content {
    /* margin:40px; */
    border: 1px solid #dddddd;   
    padding: 2em;
}

.portfolioImg {
    float: left;
    height: 200px;
    width: 305px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-right: 1.5em
}

#myImg {
    float: left;
    margin-right: 15px;
    width:130px;
    height:120px;
}

input, select, textarea {
    margin-top: 1em;
    margin-top: 1em;
}

footer {
    border-top: 10px;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    text-align: center;
    padding: 30px 0 10px 0;
    background-color: #585555;
    color: #ffffff;
    font-size: 0.65em;
    flex-shrink: 0; /*For sticking the footer at the bottom of the page*/
}

/* .clearfix::after {
    content: "";
    display: block;
    clear: both;
  } */