/*CSS file*/
html, body {
    height: 100%; /*For sticking the footer at the bottom of the page*/
}

body {
    background-image: url("../images/backgroundImg.png");
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

#outNav{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 0.07em outset #cccccc;
}

 .navbar, #content {
    position: relative;
    width:960px;
    background-color:#ffffff;
    display:inline-block;
    top: 20%;
    left:20%;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    font-size: 1.5em;
    font-weight: bolder;
    color:#ffffff;
    background:#4aaaa5;
    float: left;
    padding:1.2rem;
}

nav ul{
    float: right;
    padding:1.2em 0;
}

nav li {
    display: inline-block;    
}

#border{
    border-style: solid;
    border-right-color:#f7eded;
    border-left-color:#f7eded;
    border-right-width:1px;
    border-left-width:1px;
    padding:0 20px 0 20px;
}

#rightPadding {
    padding:0 20px 0 0;
}

#leftPadding {
    padding:0 0 0 20px;
}
nav a {
    text-decoration:none;
    color:#777777;
}

.container {
    padding:0.75em 0;
    flex: 1 0 auto; /*For sticking the footer at the bottom of the page*/
}

#content {
    border: 1px solid #dddddd;   
    padding: 1em;
    position: relative;
}

#content h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #4aaaa5;
    font-size: 1.5em;
}

hr {
    width: 99%;
    color:#dddddd;
}

p {
    color: #777777;
    line-height:2;
}

.pro {
    position: relative;
    height: 600px;
}

.pro img {
    /* float: left;
    height: 200px; */
    width: 250px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

 .Img1 {
    position: absolute;
    top:1%;
    left:0%;
 }

 .Img2 {
    position: absolute;
    top:1%;
    left:30%;
 }

 .Img3 {
    position: absolute;
    top:33%;
    left:0%;
 }

 .Img4 {
    position: absolute;
    top:33%;
    left:30%;
 }

 .Img5 {
    position: absolute;
    top:67%;
    left:0%;
 }

 .pro a {
    text-decoration:none;
    color:#ffffff; 
}

.pro a:hover {
    text-decoration:none;
    color:#d0d0d0
}

 .pro h3 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#4aaaa5;
    position: absolute;
    top: 140px; 
    left: 0; 
    width: 100%; 
    padding: 0.5em 0;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
 }

#myImg {
    float: left;
    margin-right: 15px;
    width:130px;
    height:120px;
}

input, select, textarea {
    margin-top: 0.5em;
    margin-bottom: 1em;
    width:99%;
}

textarea {
    height:200px;
}

button {
    width: auto;
    box-sizing: border-box;
    background-color:#4aaaa5;
    color:#ffffff;
    border:none;
    height:2em;
    width:6em;
}

footer {
    width:100%;
    border-top: 10px;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    text-align: center;
    padding: 30px 0 10px 0;
    background-color: #585555;
    color: #ffffff;
    font-size: 0.65em;
    flex-shrink: 0; /*For sticking the footer at the bottom of the page*/
}